.input-wrap {
  display: flex;
  flex-direction: column;
  color: #000;
  width: 500px;
}

.input-wrap label {
  margin-bottom: 10px;
  font-weight: bold;
}

.input-wrap input {
  width: 100%;
  margin-bottom: 10px;
}

